In [2]:
# Question 1 
# It applies a limit 100 only to our staging models

In [4]:
# Question 2
# The code from a development branch requesting a merge to main

In [5]:
# Question 3 
#Rounding --> 22998722

"""
with data as (
  select *,
  timestamp_trunc(
        cast(pickup_datetime as timestamp),
        month
    ) as trip_month, 
  from `project.dataset.table`
)
select count(1),
from data
where trip_month = '2019-07-01 00:00:00 UTC'
"""

"\nwith data as (\n  select *,\n  timestamp_trunc(\n        cast(pickup_datetime as timestamp),\n        month\n    ) as trip_month, \n  from `project.dataset.table`\n)\nselect count(1),\nfrom data\nwhere trip_month = '2019-07-01 00:00:00 UTC'\n"

In [6]:
# Question 4
"""
with data as (
  select *,
  timestamp_trunc(
        cast(pickup_datetime as timestamp),
        month
    ) as revenue_month, 
    from `project.dataset.table`
)
select service_type,
count(1)
from data 
where revenue_month = '2019-07-01 00:00:00 UTC'
group by service_type"""

"\nwith data as (\n  select *,\n  timestamp_trunc(\n        cast(pickup_datetime as timestamp),\n        month\n    ) as revenue_month, \n    from `project.dataset.table`\n)\nselect service_type,\ncount(1)\nfrom data \nwhere revenue_month = '2019-07-01 00:00:00 UTC'\ngroup by service_type"