# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [23]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

In [24]:
# Question 1
sum(list(square_root_generator(limit)))

8.382332347441762

In [25]:
# Question 2
limit = 13
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [26]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [36]:
import dlt
import duckdb

pipeline = dlt.pipeline(destination='duckdb', dataset_name='people_ages')



info = pipeline.run(people_1(),
										table_name="ages_4",
										write_disposition="append",

                                   )

print(info)

info = pipeline.run(people_2(),
										table_name="ages_4",
										write_disposition="append",

                    )

print(info)

2024-02-18 21:52:03,046|[WARNING              ]|344|140034015467328|dlt|reference.py|_verify_schema:357|A column record_hash in table rides in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?

Pipeline dlt_ipykernel_launcher load step completed in 0.22 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_ages
The duckdb destination used duckdb:////mnt/c/Users/kekek/Desktop/de_zoomcamp/workshop_v1_data_ingestion/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708289522.67272 is LOADED and contains no failed jobs

2024-02-18 21:52:03,666|[WARNING              ]|344|140034015467328|dlt|reference.py|_verify_schema:357|A column record_hash in table rides in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?

Pipeline dlt_ipykernel_launcher load step completed in 0.22 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_ages
The duckdb destination used duckdb:////mnt/c/Users/kekek/Desktop/de_zoomcamp/workshop_v1_data_ingestion/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708289523.2943778 is LOADED and contains no failed jobs

In [43]:
# Question 3
# show the outcome

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
age = conn.sql("SELECT SUM(age) FROM ages_4").df()
display(age)

   sum(age)
0     353.0

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [47]:
import dlt
import duckdb

pipeline = dlt.pipeline(destination='duckdb', dataset_name='people_ages')


info = pipeline.run(people_1(),
										table_name="ages_7",
										write_disposition="merge",
                                         primary_key="ID"
                                   )

print(info)

info = pipeline.run(people_2(),
										table_name="ages_7",
										write_disposition="merge",
                                        primary_key="ID"
                    )

print(info)

2024-02-18 21:55:21,413|[WARNING              ]|344|140034015467328|dlt|reference.py|_verify_schema:357|A column record_hash in table rides in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-18 21:55:21,460|[WARNING              ]|344|140034015467328|dlt|reference.py|_verify_schema:357|A column record_hash in table rides in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?

Pipeline dlt_ipykernel_launcher load step completed in 0.42 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_ages
The duckdb destination used duckdb:////mnt/c/Users/kekek/Desktop/de_zoomcamp/workshop_v1_data_ingestion/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708289721.0211349 is LOADED and contains no failed jobs

2024-02-18 21:55:22,256|[WARNING              ]|344|140034015467328|dlt|reference.py|_verify_schema:357|A column record_hash in table rides in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-18 21:55:22,301|[WARNING              ]|344|140034015467328|dlt|reference.py|_verify_schema:357|A column record_hash in table rides in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?

Pipeline dlt_ipykernel_launcher load step completed in 0.43 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_ages
The duckdb destination used duckdb:////mnt/c/Users/kekek/Desktop/de_zoomcamp/workshop_v1_data_ingestion/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708289721.869918 is LOADED and contains no failed jobs

In [53]:
# Question 4
conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
age = conn.sql("SELECT SUM(age) FROM ages_7").df()
display(age)

   sum(age)
0     266.0

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX